.conatiner {
  position: fixed;
  width: 100%;
  bottom: -175px;
  height: 256px;
  background-color: #431f4d;
  transition: bottom 0.5s ease-out;

  .innerContainer {
    height: auto;
    display: flex;
    align-items: center;
    padding: 25px 0;
    flex-direction: column;
    .title {
      padding-bottom: 20px;
      .text {
        font-size: 24px;
        color: #fff;
        margin-left: 15px;
        vertical-align: middle;
      }

      .arrow {
        border: solid #00bc6e;
        border-width: 0 5px 5px 0;
        border-radius: 3px;
        display: inline-block;
        padding: 8px 8px 8px 8px;
        vertical-align: bottom;
      }

      .up {
        transform: rotate(-135deg);
        vertical-align: bottom;
      }

      .down {
        transform: rotate(45deg);
        vertical-align: middle;
      }
    }

    .buttoms {
      display: flex;
      flex-direction: column;
      .customSelect {
        margin-bottom: 20px;
        background: #431f4d;
        padding: 10px 20px;
        border-radius: 25px;
        border: 2px solid #ffffff80;
        color: #fff;
        font-size: 20px;
        > option {
          bottom: 100%;
          background: #fff;
          color: black;
          position: relative;
          bottom: 50px;
        }
      }
      > span {
        padding: 10px 20px;
        background-color: #307f68;
        border-radius: 25px;
        color: #fff;
        font-size: 20px;
        height: 50px;
        width: 282px;
      }
    }
  }
}

.goUp {
  bottom: -15px;
}

@media screen and (min-width: 770px) {
  .conatiner {
    height: 200px;
    bottom: -120px;
    .innerContainer {
      .buttoms {
        flex-direction: row;
        width: 700px;
        justify-content: space-evenly;
      }
    }
  }
  .goUp {
    bottom: -15px;
  }
}
